/* body {
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("https://png.pngtree.com/background/20211217/original/pngtree-geometric-pattern-white-gold-minimalist-creative-background-picture-image_1575961.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 } */
*{
    margin : 0;
    padding : 0;
}

body {
text-align : center;
background-image: url("https://c4.wallpaperflare.com/wallpaper/68/495/628/lines-dark-uneven-background-wallpaper-preview.jpg");
}

#main-heading{
margin-top : 30px;
margin-bottom : 30px;
height : 100%;
width : 100%;
display : block;
padding : 30px 30px 30px 30px;
font-size : 35px;
background-color: rgb(244, 207, 24);
}

#todo-input-1, #todo-input-2, #todo-date, #from_hour, #to_hour {
    /* background-color: rgb(33, 75, 3); */
    color: rgb(0, 0, 0);
    font-size : 30px;
    padding : 15px 15px;
    display : block;
    flex-wrap : wrap;
    grid-template-columns: 350px 350px 350px;
    margin-top : 30px;
    margin-bottom : 30px;
    align-items: center;
    justify-content: center;
    overflow-wrap:break-word;
}

#from_time, #to_time {
    background-color: rgb(83, 242, 91);
    font-size : 30px;
    padding : 10px 10px;
    margin-top : 25px;
    margin-bottom : 25px;
    display : flex;
    align-items: center;
    justify-content: center;
    overflow-wrap:break-word;
}

.grid-container {
    display : grid;
    grid-template-columns: 350px 300px 350px;
    /* display : flex;
    flex-direction: column; */
    column-gap : 20px;
    row-gap : 20px;
    margin-top : 25px;
    display : flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size : 30px;
    overflow-wrap:break-word;
    /* display: flex; */
}

.todo-container {
    /* display : grid;
    grid-template-columns: 350px 300px 150px; */
    display : flex;
    flex-direction: column;
    column-gap : 350px;
    row-gap : 20px;
    margin-top : 20px;
    align-items: center;
    justify-content: center;
    overflow-wrap:break-word;
    /* display: flex; */
}

.todo-item {
    background-color: rgb(163, 160, 165);
    font-size : 30px;
    padding : 25px 15px 15px 15px;
    display:grid;
    grid-template-columns: 500px 500px 500px;
    /* flex-direction: row; */
    column-gap : 250px;
    row-gap : 5px;
    /* margin-top : 10px; */
    /* display : flex; */
    /* flex-wrap: wrap; */
    /* margin : 20px 20px 20px 20px; */
    align-items: center;
    justify-content: center;
    /* overflow-wrap:break-word; */
}

.btn-todo {
    background-color: rgb(107, 142, 249);
    color : white;
    border : none;
    margin-top : 30px;
    margin-bottom : 30px;
    border-radius : 10px;
    padding : 20px 20px; 
    font-size: 30px;
    cursor : pointer;
    overflow-wrap:break-word;
}

.btn-delete {
    background-color: rgb(248, 103, 55);
    color : rgb(255, 255, 255);
    border : none;
    border-radius : 10px;
    padding : 20px 20px;
    font-size: 30px;
    cursor : pointer;
    position:relative;
    overflow-wrap:break-word;
}

